#google_href{
    color:rgb(86, 86, 86);
    text-decoration: none;
}
#google_href:hover {
    text-decoration: none;
    color: rgb(44, 107, 127);
}


#report{
    color:rgb(142, 143, 143);
    text-decoration: none;
}
#report:hover {
    text-decoration: none;
    color:rgb(84, 85, 85);
}