{% extends "main/index.html" %}
{% load static %}

{%block link %}
<link href="{% static 'pao/css/pao.css' %}" rel="stylesheet">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
<!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.7.4/js/mdb.min.js"></script> -->
{% endblock %}

{% block content %}


<script src= "{% static 'pao/js/pao.js' %}"></script>

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Эффективный контракт профессорско-преподавательского состава</h1>
</div>

<div class="row">

    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            Заявлено позиций</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{sum_requests.declared__sum}}</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-file fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                            Проверено позиций</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{sum_requests.verified__sum}}</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-check fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-info shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Статус проверки
                        </div>
                        <div class="row no-gutters align-items-center">
                            <div class="col-auto">
                                <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{all_persent}}%</div>
                            </div>
                            <div class="col">
                                <div class="progress progress-sm mr-2">
                                    <div class="progress-bar bg-info" role="progressbar"
                                        style="width: 0%" aria-valuenow="0" aria-valuemin="0"
                                        aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-spinner fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-danger shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">
                            Зарегистрировано апелляций</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">0</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-comments fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <button class="mb-2 mr-2 border-0 btn-transition btn btn-outline-link">Фильтры</button>
    <button class="mb-2 mr-2 border-0 btn-transition btn btn-outline-danger notCheckFilter">Не проверенные</button>
    <button class="mb-2 mr-2 border-0 btn-transition btn btn-outline-warning checkInProgressFilter">На проверке</button>
    <button class="mb-2 mr-2 border-0 btn-transition btn btn-outline-success checkCompleteFilter">Проверка завершена</button>
</div>

<div class="row">
<div class="card shadow">
<div class="card-header">
    <h6 class="m-0 font-weight-bold text-primary">Информация по разделам <span style="color: gray;">/ Время обновления: </span></h6> 
</div>

<div class="card-body">    
    <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>Раздел ЭК</th>
                    <th>Наименование раздела</th>
                    <th>ФИО Эксперта</th>
                    <th>Заявлено</th>
                    <th>Проверено</th>
                    <th>Прогресс проверки</th>
                </tr>
            </thead>
            <tbody>

            {% for issue in issues %}
            
            <tr>
                <td><a href="{{issue.contractName.url}}" id="urls"># {{ issue.contractName.sectionEC }}</a></td>
                <td>{{ issue.contractName.descriptionEC }}</td>
                <td><b>{{ issue.contractName.expertEC.department }}</b><br>({{ issue.contractName.expertEC.calculateShortFio }})</td>
                <td class = "text-center">{{ issue.declared }}</td>
                <td class = "text-center">{{ issue.verified }} ({{issue.calculateProgress}}%)</td>
                <td>
                    <div class="progress progress">
                        
                        {% if issue.calculateProgress == 100 %}
                        <div class="progress-bar razd bg-success checkComplete" role="progressbar" style="width: 0%" aria-valuenow= "0" aria-valuemin= "0" aria-valuemax= "100">{{issue.calculateProgress}}%</div>
                        {% elif issue.calculateProgress == 0 %}
                        <div class="progress-bar razd bg-danger notCheck" role="progressbar" style="width: 0%" aria-valuenow= "0" aria-valuemin= "0" aria-valuemax= "100">{{issue.calculateProgress}}%</div>
                        {% else %}
                        <div class="progress-bar razd bg-warning checkInProgress" role="progressbar" style="width: 0%" aria-valuenow= "0" aria-valuemin= "0" aria-valuemax= "100">{{issue.calculateProgress}}%</div>
                        {% endif %}

                    </div>
                </td>
            </tr>

            {% endfor %}

            </tbody>
        </table>
    </div>
</div>
</div>
    
</div>
{% endblock %}

<script src="{% static 'pao/js/main.js' %}"></script>

<script>
    
</script>